.headerCat {
    background-color:white; 
    border: none; 
    outline: none;
    font-size: 18px;
    font-family: "DIN Next",Helvetica,Arial,sans-serif;
    border-bottom: 2px solid transparent;
    color: #333;
    font-size: 18px;
    margin-right: 80px;
    padding: 4px 0;
    margin-bottom: 0%;
    font-weight: 700;
    float: left;
}

.headerCat:hover {
    border-bottom: 2px solid rgb(36, 148, 223);
  }

#foot {
    background-color: #f2f2f2;
    font-weight: 400;
    bottom: 0;
    color: #0471AF;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.search {
    background-color:white; 
    border: 1px solid black;
}

#searchBarLong {
    display: block;
}

.banner {
    background-color:#0471AF; 
    font-size: 14px;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    color: white;
    width: 201%;
    margin-left: -100%;
    margin-top:1%;
    padding-left: 42%;
    float: left;
    height:41px;    
}

#leftset {
    margin-left: 28.6%;
}

#rightset {
    margin-left: 59.5%;
}

.indi {
    float: left;
    padding: 0px 10px 0px 10px;
    height: 50%;
    padding-top: 2px;
  }

.fontban {
    font-weight: 100;

}

#iconGroup {
    margin-left: -3.38%;
    padding-top: 3px;
    
}

#next2Icon {
    margin-left: -9.5%;
    
}

#starterTag {
    padding-top: 4px;
    margin-left: -5%;
}
.ship {
    background-color: rgb(229, 231, 228);
    font-size: 14px;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    color:  rgb(39, 37, 37);
    width: 201%;
    margin-left: -100%;
    padding-left: 42%;
    height:27.5px;
    margin-top: -13px;
    
}

.free {
    padding-top: 5px;
    margin-left: 42%;
}

.iconPersonSize {
    margin-right: 100%;
    transform: scale(1.25);
}

.iconCart {
    margin-left: 15%;
}

.iconCartSize {
    transform: scale(1.2);
}

.iconCart:hover {
    border-bottom: 2px solid rgb(36, 148, 223);
}

.iconPerson:hover {
    border-bottom: 2px solid rgb(36, 148, 223);
}