html, body {
  max-width: 100%;
  overflow-x: hidden;
  /* background-color: #0471AF; */
  color: #FFF;
  height:auto!important;
}

#catlink {
  margin: 2.4%;
}
.wrap {
    margin-top: -1.2%;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 86.8%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .left {
    height: 0px;
    width: 0%;
  }
  
  .right {
    height: 0px;
    width: 0%;
    padding: 0%;
    margin-left: 50%;
  }

  #main {
    margin-left: 15%;
  }

  #description {
    width: 45%;
    max-width: 1200px;
    margin-left: 55%;
  }

  .bullets {
    line-height: 1.4rem;
  }

  .bulletpoint {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 10px!important;
    margin-right: 5em;
  }

  hr {
    margin-bottom: 20px!important;
    border: 0;
    height: 1px;
    background: #E5E5E5;
    margin-left:1em;
    margin-right: 1em;
    
  }

  .first-letter {
    font-size: 40%;
    vertical-align: super;
  }

  .price {
    font-size: 2.5714285714285716rem;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    margin-bottom: 0%;
    margin-left: 4%;
  }

  .prevPrice {
    font-size: .8571428571428571rem;
    font-weight: 100;
    font-family: Helvetica,Arial,sans-serif;
    color: #5D5D5D!important;
  }

  .save {
    font-size: 1.1428571428571428rem;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: #338700!important;
    margin-top: 0%;
    margin-left: 4%;
  }




  button {
    padding: 0 20px;
    height: 54px;
    min-height: 54px;
    max-height: 54px;
    width: 50%;
    background-color: white;
    border: 1px solid #CCC;
    color: #0471AF;
    padding: 15px 32px;
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: .875rem;
    margin: 0 auto;
    cursor: pointer;
  }

  .saveButton:hover {
    background-color: #e7e7e7;
    outline: none;
  }

  .btngrp {
    margin: 1.5rem;
  }

  #saveTxt {
    /* line-height: 200%; */
    vertical-align: top
  }

  