#foot {
    background-color: #f2f2f2;
    font-weight: 400;
    bottom: 0;
    color: #0471AF;
    font-size: 16px;
    text-align: center;
    margin-top: 3%;
    padding: 0;
    width: 201%;
    margin-left: -40%;
}

.placeholder {
    margin-top: 100px;
}



.linkTo {
    text-decoration: none;
    font-family: Helvetica,Arial,sans-serif;
}

.linkTo:visited {
    color: #0471AF;
}

.linkTo:hover {
    color: #0471AF;
}

.linkTo:active {
    color: #0471AF;
}

.colgil {
    padding-top: 25px;
    display: flex;
    margin-left: 16.1%;
    margin-right: 29%;
}

.colgilList {
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    width: 100%;
}

.colgilItem {
    float: left;
    text-align: center;
    width: 14.6%;
    padding-left: 10px;
    padding-right: 10px;
    display: list-item;
    list-style: none;
}

.colgilSpacing {
    margin-bottom: 15px
}

.colgilBubble {
    border: 1px solid #ccc;
    padding: 13px;
    border-radius: 75%;
    display: inline-block;
    line-height: .5em;
}

.footerHR {
    background-color: #FFF!important;
    height: 3px;
    margin-bottom: 50px;
    border: 0;
    margin-left: 19%;
    margin-right: 30%;
}

.siteNav {
    display: block;
    width: 35%;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-left: 18%;
}

.siteNavCol {
    width: 33%;
    float: left;
}

.siteNavColTitle {
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif;
    text-align: left;
    font-weight: 700;
    color: #333;
    margin: 0 0 5px 35px;
    padding: 0;
}

#offTitle {
    margin: 0 0 5px 41.5px;
}

.siteNavColList {
    margin-bottom: 15px!important;
    text-align: left;
    display: list-item;
    list-style: none;
    font-weight: 400;
}

.siteContact {
    float: left;
    margin-bottom: 50px;
    display: block;
    margin-right: 20%;
    margin-top: -15px;
    text-align: left;
}

.siteContactCol {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.contactEmail {
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-right: 1%;
}

.signup {

}

.siteContactColTitle {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px!important;
    margin: 0 0 5px;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#email {
    color: black;
    text-align: left;
    vertical-align: top;
}

#emailIcon {
    vertical-align: bottom;
}

.contactConnect {
    margin-bottom: 78px;
}

.connectIconList {
    margin-left: -11.5%;
}

.connectIconListItem {
    width: 20%;
    float: left;
    display: list-item;
    list-style: none;
}

#contactus {
    font-weight: 400;
}

.hoursInfo {
    color: #333;
    margin: 3px;
}

#dividerCon {
    border-right: 2px solid #ccc;
    padding: 3px 10px 3px 0;
    margin: -3px 10px 0 0;
}

.termsParent {
    width: 100%;
    max-width: 1032px;
    margin-left: 18.5%;
    margin-right: 30.5%;
    padding: 0;
}

.terms {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.termsList {
    display: block;
    font-size: 14px;
    padding: 0;
    clear: both;
    width: 100%;
    list-style: none;
}

.termsListItem {
    width: 25%;
    display: list-item;
    float: left;
    font-size: 16px;
    text-align: center!important;
    padding: 0!important;
}
.copyright {
    font-family: Helvetica,Arial,sans-serif;
    color: #5D5D5D!important;
    text-align: center!important;
    font-size: 14px;
    line-height: 1.4em;
    margin: 0 0 5px 0;
    margin-left: 20%;
    margin-right: 33.8%;
    padding-bottom: .95%;
}