#banner {
    background-color:#0471AF; 
    font-size: 14px;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    color: white;
    height: 38px;    
}

.bannerGroupText {
    width: 100%;
    margin-left: 22%;
    align-items: center;
    justify-content: center
}

#leftset {
    padding-bottom: 1px;
}

#rightset {
    margin-left: 32.2%;
    width: 500px;
}

.indi {
    float: left;
    padding: 0px 10px 0px 10px;
    height: 100%;
  }

.fontban {
    font-weight: 100;
}

#iconGroup {
    margin-left: -3.38%;
    /* padding-top: 3px; */
}

#next2Icon {
    margin-left: -9.5%;
    
}

#starterTag {
    padding-top: 3px;
    margin-left: -5%;
}

.ship {
    background-color: rgb(229, 231, 228);
    font-size: 14px;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;
    color:  rgb(39, 37, 37);
    width: 100%;
    height: 29px;   
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%; /*once cameron gets his then take off*/
}

.free {
    padding-top: 5px;
    /* margin-left: 42%; */
}